.social-icons {
    font-size: 2.84rem;
    opacity: 0.3;
    color: #0b0623
}

.headline-white {
    font-size: 3rem;
    font-weight: bolder;
    color: white
}

.headline-black {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 3.95rem;
    color: black;
    position: absolute;
    z-index: 1
}

.grediant-background {
    background-image: linear-gradient(132deg, rgb(108, 18, 211) 0%, rgb(74, 98, 220) 100%);
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.small-white {
    font-size: 1.2rem;
    color: white
}

.small-black {
    font-size: 1.2rem;
    color: black;
    line-height: 1.2;
}

.button-background {
    background-image: linear-gradient(132deg, rgb(108, 18, 211) 0%, rgb(74, 98, 220) 100%);
    border: solid 1px #ccc;
    padding: 13px 30px 3px 30px;
    border-radius: 2.5em;
    box-shadow: 2px 7px 28px 6px rgba(74, 98, 220, 0.2)
}

.dotted-background {
    background: rgb(255, 255, 255);
    background-image: radial-gradient(rgba(0, 0, 0, 0.1) 12%, transparent 0);
    background-size: 60px 60px;
}

.prev1 {
    position: absolute;
    z-index: 2;
    left: 7%;
    top: 59%
}

.next1 {
    position: absolute;
    z-index: 2;
    right: 7%;
    top: 59%
}

.first-second-btn {
    position: absolute;
    z-index: 4;
    left: calc(50% - 25px);
    bottom: -18%;
    border: solid 1px #ccc;
    border-radius: 2.5em;
    box-shadow: 2px 7px 28px 6px rgba(74, 98, 220, 0.2)
}

.thirdpartitem {
    background-image: linear-gradient(132deg, rgb(108, 18, 211) 0%, rgb(74, 98, 220) 100%);
    opacity: 0.8;
    margin-left: 0px;
    padding: 24px
}
@media screen and (min-width: 300px) and (max-width: 370px) {
    .first-second-btn {
        bottom: -77% !important;
    }
}
@media screen and (min-width: 375px) and (max-width: 769px) {
    .first-second-btn {
        bottom: -70% !important;
    }
}
@media screen and (min-width: 770px){
    .first-second-btn {
        bottom: 6% !important;
    }
}
@media screen and (max-width: 676px) {
    .fourth-viewmore {
        height: 1060px !important;
    }
}

@media screen and (max-width: 575px) {
    .fourth-viewmore {
        height: 2080px !important;
    }

    .fourth-viewmore4 {
        height: 1450px !important;
    }

}

@media screen and (min-width: 425px) and (max-width: 500px) {
    .fourth-viewmore1 {
        height: 2384px !important;
    }

    .form-group > input {
        width: 48% !important;
    }

    .form-group > button {
        width: 22% !important;
    }

}



@media screen and (min-width: 300px) and (max-width: 425px) {
    .fourth-viewmore1 {
        height: 2160px !important;
    }

    .form-group > input {
        width: 53% !important;
    }

    .form-group > button {
        width: 27% !important;
    }

}

@media screen and (min-width: 1600px) {
    .fourth-viewmore1 {
        height: 1800px !important;
    }
}
@media screen and (max-width: 370px) {
    .not-found-text{
        font-size: 4.0rem!important;
    }
}

@media screen and (min-width: 300px)  and (max-width: 700px) {
    .pull-below {
        margin-top: 57% !important;
    }
}
.show-info {
    position: absolute;
    z-index: 1;
    background-color: rgb(96, 47, 214);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: none;
}

.show-info1 {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    display: none;

}

.phrases-secondpart {
    display: block;
    font-size: 1rem;
    color: black;
    padding:0px 40px 0px 50px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d9d9d9;
    font-size: 1rem;
    font-weight: bolder;
}

@-webkit-keyframes AnimationName {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@keyframes AnimationName {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@-webkit-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* Style the button that is used to open and close the collapsible content */
/* Style the collapsible content. Note: hidden by default */

.parent {
    width: 400px;
    height: 250px;
}

.child {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background:no-repeat center;
    background-size: cover;
    margin: 40px 55px 10px 55px;transition: all .5s;
}

.parent:hover .child,
.parent:focus .child {
    transform: scale(1.2);
}
.not-found-text{
    filter: saturate(5);
    display: block;
    font-size: 4.7rem;
    font-weight: 900;
    color: black;
    background: linear-gradient(132deg, rgb(108, 18, 211) 0%, rgb(74, 98, 220) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}